body {
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TerminalFont';
src: local('TerminalFont'), url(./Fonts/Modeseven-L3n5.ttf) format('truetype');
}
