body {
  background-color: black;
  color: white;
  height: 100vh
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'TerminalFont';
src: local('TerminalFont'), url(./Fonts/Modeseven-L3n5.ttf) format('truetype');
}

.gameStart {
  color: #4AF626;
  height: 50vh;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'TerminalFont';
  white-space: "pre-line"
}

::selection {
  background: #4AF626 /* WebKit/Blink Browsers */
}

.no-outline:focus {
  outline: none;
}

.play-button:hover {
  color: #229c09 !important
}
